<button (click)="volverListado()">Volver</button>
<br>
<section>
    <article>
        
        @if(personaje.edicion){
            <h3 class="{{personaje.elemento.nombre}}"><img class="elemento" src="assets/elementos/iconos/{{personaje.elemento.id}}.png"> {{personaje.edicion}} {{personaje.nombre}}</h3>
        }@else{
            <h3 class="{{personaje.elemento.nombre}}"><img class="elemento" src="assets/elementos/iconos/{{personaje.elemento.id}}.png"> {{personaje.nombre}}</h3>
        }
        <img class="personaje" src="assets/personajes/{{personaje.id}}.png">
       
        <p><b>Saga:</b> <a (click)="verSaga(personaje.saga.id)">{{personaje.saga.nombre}}</a></p>
        @if(personaje.equipo){
            <p><b>Rol:</b> {{personaje.equipo}}</p>
        }
    </article>
</section>
