.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/*estilo para la figura
img{
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin:50px 0;
}*/
 p{
    font-size: 18px;
}

img{
    height: 400px;
    width: 450px;
    margin:50px 0;
}

.loader{
    height: 100vh;
    background-image: url('/assets/kaos_wizard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(191, 84, 241);
   /*
    justify-content: right;
    align-items: start;
     */
     scrollbar-width: none;
     
}