<h1>Todos Personajes</h1>
<section class="filtros">
    <div>
        <input type="text" placeholder="Nombre" [(ngModel)]="nombre">
        <button class="buscar" (click)="buscarNombre()"><img src="assets/lupa.png">Buscar</button> 
    </div>

    <div>
        <button (click)="limpiarFiltros()">Limpiar</button>
        <button (click)="ordernarNombre()">Ordenar Nombre</button>
        <button (click)="ordernarElemento()">Ordenar Elemento</button>
        
        <select id="elem" name="elemen" [(ngModel)]="elementoId">
            @for(elemento of elementos; track elemento){
                <option [value]="elemento.id">{{elemento.nombre}}</option>
            }
        </select>
        <button (click)="filtrarElemento()">Filtrar</button>
    </div>
    
       
</section>


<!--<table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Elemento</th>
      </tr>
    </thead>
    <tbody>
        @for(personaje of personajes; track personaje){
            <tr>
                <td>
                    {{personaje.id}}
                    @if(personaje.edicion){
                        <b>{{personaje.edicion}} {{personaje.nombre}}</b>
                    }@else{
                        {{personaje.nombre}}
                    }
                </td>

                <td>{{personaje.elemento.nombre}}</td>
                <td><button (click)="verDetalles(personaje.id)">Detalles</button></td>
            </tr>
        }
    </tbody>
    </table>
    
    
   
    -->
<div class="listado">
    @for(personaje of personajes; track personaje){
        <div class="card" (click)="verDetalles(personaje.id)" class="{{personaje.elemento.nombre}}">
            <img src="assets/iconos-personajes/{{personaje.id}}.png" (error)="imageError($event)">
                @if(personaje.edicion){
                    <p><b>{{personaje.edicion}}</b> {{personaje.nombre}}</p>
                }@else{
                    <p>{{personaje.nombre}}</p>
                }
                {{personaje.saga.nombre}}
                <img src="assets/elementos/iconos/{{personaje.elemento.id}}.png">
                
        </div>
        

    }
</div>
    
