.listado{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: center;
}
.card{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    padding:10px 0;
    margin:20px;
}
.card img{
    width: 100px;
    height: 100px;
}
button{
    margin:10px 0 0 0;
}