.header{
    background-color: #94d3f2;
    height: 100px;
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    align-items: center;
}
.header a{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.header a:hover{
    font-weight: bold;
    transition: 0.5s;
}

.active{
   text-decoration: underline;
   font-style: italic;
}