.loader{
    height: 100vh;
    background-image: url('/assets/skylands2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    
    justify-content: center;
    align-items: center;
   /*
    justify-content: right;
    align-items: start;
     */
     
}
.loader img{
   margin:50px;
   width: 400px;
   height: 175px;
   animation: zoomOut 2s ease-out;
}

@keyframes zoomOut {
    from {
        transform: scale(1.2);
      opacity: 0.1;
    }
    to {
        transform: scale(1);
      opacity: 1;
    }
  }